
{{# if success }}
  <section>
      

      <script src="/javascripts/update-prof-pic.js"></script>
      <div class="card-columns">

        <div class="card text-white bg-dark" width="100%">
          <img id="profilePic" src="myImage-" alt="your image" height=100% width=100%>

          <div class="card-body">
            <h5 id="user" class="card-title">{{ user }}</h5>
            <p class="card-text"></p>
          </div>

          <div class="card-footer">
            
            <form action="/uploadphoto" method="post" enctype='multipart/form-data'> 
              <label for="profPic" class="btn btn-secondary btn-block btn-outlined">Edit Profile Pic</label>
              <input id = "profPic" type="file" name="myImage" style="display: none"/>
              <button type = "submit" class="btn btn-primary btn-block btn-outlined">Upload</button>
            </form>
            {{ upstatus }}
          </div>
        </div>

        <div class="card text-white bg-dark mb-3">
          <blockquote class="blockquote mb-0 card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer class="blockquote-footer">
              <small class="text-muted">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </small>
            </footer>
          </blockquote>
        </div>
      </div>
      <script>
        user = document.getElementById("user").textContent;
        profilePic = document.getElementById("profilePic");
        imgPath = "../../public/uploads/myImage-" + user + ".png";
        //profilePic.src = imgPath;
      </script>
  </section>
{{else}}
  {{# if errors}}
    <section class="errors">
      <ul>
        {{# each errors }}
          <li>{{ this.msg }}</li>
        {{/each}}
      </ul>
    </section>
  {{/if}}
  <div class="card text-white bg-dark mb-3">

      <div class="card-header">Log in with your account: </div>
      <div class="card-body">
        <form>
          <div class = "input">
            <label for = "loginusername" style = "display: block;"> Username </label>
            <input type = "text" class="form-control" id = "loginusername" name = "loginusername">
          </div>
          <div class = "input">
            <label for = "loginpassword" style = "display: block;"> Password </label>
            <input type = "password" class="form-control" id = "loginpassword" name = "loginpassword">
          </div>
          <br/>
          <br/>
          <button type = "submit" class="btn btn-secondary" formaction="/login" formmethod="post">Log In</button>
          <button type = "submit" class="btn btn-secondary" formaction="/register" formmethod="post">Register</button>
          <button type = "submit" class="btn btn-secondary" formaction="/restart-db" formmethod="post">Restart DB</button>
        </form>
      </div>
  </div>
{{/if}}

