<div class="card text-white bg-dark mb-3">

    <div class="card-header">Register your account: </div>
    <div class="card-body">
        <form>
            <div class = "input">
            <label for = "username" style = "display: block;"> Username </label>
            <input type = "text" class="form-control" id = "username" name = "username">
            </div>
            <div class = "input">
            <label for = "password" style = "display: block;"> Password </label>
            <input type = "text" class="form-control" id = "password" name = "password">
            </div>
            <div class = "input">
            <label for = "username" style = "display: block;"> What's your role? </label>
            <select class="form-control" id = "usertype" name = "usertype">
                <option value="artist">Artist</option>
                <option value="company">Company</option>
            </select>
            <br/>
            <br/>
            <button type = "submit" class="btn btn-success" formaction="/register/submit-account" formmethod="post">Register</button>
        </form>
    </div>
</div>