body {
  padding-top: 40px;
  background-color: #4e3d5e;
}

.welcome {
  font-size: 18px;
  display: inline;
  padding: 5px;
}

.card-columns {
  column-count: 3;
}

.jumbotron {
  background-color:#38324a!important;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

* {box-sizing: border-box;}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: #38324a;
  margin-bottom: 30px;
}

/* Navbar links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
  background-color: #5f4477;
  color: white;
}

.topnav button {
  height: 100%;
  margin-top: 6px;

  font-size: 17px;
  border: none;
  cursor: pointer;
}

/* Active/current link */
.topnav a.active {
  background-color: #5f4477;
  color:white;
}

/* Style the input container */
.topnav .search-container {
  float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

/* Style the button inside the input container */
.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  color: white;
  background: #5f4477;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}